<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/CSS sheet.css?{% now "U" %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Stoke&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <section>
        <p id="head">e-Bandhu <span class="subscript">—Your true e-Friend</span></p>
    </section>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"> <a href="/"><img src="/static/Images/icon/home.png" alt="Home logo" class="homeicon">
                    &#8203 &#8203
                    Home</li>
            </a>
            <a href="/tm">
                <li class="navitem navoptions"> <img src="/static/Images/icon/fakenews.png" alt="" class="icon"
                        id="icnti"> Trending &#8203; Misinformation</li>
            </a>
            <a href="/lu">
                <li class="navitem navoptions"> <img src="/static/Images/icon/update.png" alt="" class="icon"
                        id="icnupdate"> Latest &#8203; Updates</li>
            </a>
            <a href="/qc">
                <li class="navitem navoptions"> <img src="/static/Images/icon/assesdevice.png" alt="" class="icon">
                    Quick
                    Check </li>
            </a>
            <a href="/eg">
                <li class="navitem navoptions"> <img src="/static/Images/icon/learn.png" alt="" class="icon"
                        id="icnlearn"> eSafety Guru</li>
            </a>
            <a href="/cu">
                <li class="navitem navoptions" id="navright"> <img src="/static/Images/icon/contactus.jpg" alt=""
                        class="icon" id="icncontactus"> Contact Us</li>
            </a>
        </ul>
    </nav>
    <div class="slider"> </div>
    <section class="about">
        <div>
            <p class="bighead">About</p>
            <div class="sec">
                <div class="paras">
                    <p class="content" id="paraspara1">In this digital era, where almost 4.57 billion people are
                        internet users
                        all over the world and spend a huge part of their day on internet, cyber security is a major
                        cause of concern. There are over 696 million internet users in India and in today's time the
                        country is witnessing a spike of 500% in cyber crimes and the main cause being limited awareness
                        and poor cyber hygiene as said by NSA Ajit Doval.</p>
                    <p class="content">e-Bandhu is a web app which envisions a safe cyberspace India by making people
                        responsible internet users and spread awareness regarding the cyber threats and how to stay
                        cyber safe.</p>
                </div>
                <img src="/static/Images/home/about.png" alt="" class="contentimgl">
            </div>
        </div>
        <hr>
        <div>
            <p class="bighead">Features</p>
            <div class="bigidea">
                <div class="ideacnt">
                    <div class="idea ideaboxup">
                        <div class="ideatext" id="tmidea">
                            <p class="heading"> Trending Misinformation</p>
                            <p class="ideahash">#Combat fake news</p>
                            <hr>
                            <p class="content">Be updated with the latest Misinformation and help to combat them.</p>
                            <a class="ideabtna" href="#i1"><button class="ideabtn" type="button">Know
                                    More</button></a>
                            <a class="ideabtna" href="/tm"> <button class="ideabtn">Visit Page</button>
                        </div></a>
                    </div>
                    <div class="idea">
                        <div class="ideatext" id="luidea">
                            <p class="heading"> Latest Updates </p>
                            <p class="ideahash">#Stay updated</p>
                            <hr>
                            <p class="content">Be updated with the latest NEWS and number of cybercrime cases all over
                                India.</p>
                            <a class="ideabtna" href="#i2"> <button class="ideabtn" type="button">Know
                                    More</button></a>
                            <a class="ideabtna" href="/lu"><button class="ideabtn">Visit Page</button></a>
                        </div>
                    </div>
                </div>
                <div class="ideacnt">
                    <div class="idea">
                        <div class="ideatext" id="aydidea">
                            <p class="heading"> Quick Check</p>
                            <p class="ideahash">#Stay Cyber Safe</p>
                            <hr>
                            <p class="content">Answer few questions to get some useful tips to prevent your device from
                                most common cyber attacks.
                            </p>
                            <a class="ideabtna" href="#i3"> <button class="ideabtn ideabtnup">Know More</button></a>
                            <a class="ideabtna" href="/qc"><button class="ideabtn">Visit Page</button></a>
                        </div>
                    </div>
                    <div class="idea">
                        <div class="ideatext" id="learnidea">
                            <p class="heading">eSafety Guru</p>
                            <p class="ideahash">#Be aware</p>
                            <hr>
                            <p class="content">Get some basic knowledge about the Cyber security and keep in mind to
                                follow them while using internet.</p>
                            <a class="ideabtna" href="#i4"> <button class="ideabtn ideabtnup">Know More</button></a>
                            <a class="ideabtna" href="/eg"><button class="ideabtn">Visit Page</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr> <br><br>
        <div class="flex">
            <table class="hometable" id="i1">
                <tr>
                    <th class="bigheadtb"> Trending Misinformation</th>
                </tr>
                <tr>
                    <td class="content">
                        <p class="hometbincnt content"> This feature helps you to get to know about the trending fake
                            news. It updates you with the
                            misinformation
                            which are being spread on internet.</p>
                        <p class="hometbincnt content">So keep checking this section regularly to
                            combat fake news.</p>
                        <a class="hometbincnta" href="/tm"> <button type="button" class="hmtblbtn"> Visit Page
                            </button></a>
                    </td>
                </tr>
            </table>
            <table class="hometable" id="i2">
                <tr>
                    <th class="bigheadtb">Latest Updates</th>
                </tr>
                <tr>
                    <td class="content">Get updated with latest NEWS related to cyber safety and the latest statistics.
                        You will
                        also get some tips from the Cyber security Experts who analyse the security status and give
                        there expert tips on staying cyber safe.
                        <a class="hometbincnta" href="/lu"><button type="button" class="hmtblbtn"> Visit Page
                            </button></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="flex">
            <table class="hometable" id="i3">
                <tr>
                    <th class="bigheadtb">Quick Check</th>
                </tr>
                <tr>
                    <td class="content">
                        Attempt a short quiz to get some useful tips on how you can keep your device cyber safe and
                        prevent them from the current most common
                        cyber attacks. Also do visit <i>eSafety Guru</i> to get some general tips for being cyber safe.

                        <a class="hometbincnta" href="/qc"><button type="button" class="hmtblbtn"> Visit Page
                            </button></a>
                    </td>
                </tr>
            </table>
            <table class="hometable" id="i4">
                <tr>
                    <th class="bigheadtb">eSatey Guru</th>
                </tr>
                <tr>
                    <td class="content">The first step to become cyber safe is to know what is cyber saftey and things
                        like cyber crimes. So get the basic knowledge of cyber security and some of the tips for
                        being cyber safe from eSafety Guru.
                        <br>
                        <br>
                        <a class="hometbincnta" href="/eg"> <button type="button" class="hmtblbtn"> Visit Page
                            </button></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <footer class="footer">
        <div class="footrow1 footrow">
            <a href="/">
                <p>
                    Home
                </p>
            </a>
            <a href="/tm">
                <p>
                    Trending Misinformation
                </p>
            </a>
        </div>
        <div class="footrow1 footrow">
            <a href="/lu">
                <p>
                    Latest Updates
                </p>
            </a>
            <a href="/qc">
                <p>
                    Quick Check
                </p>
            </a>
        </div>
        <div class="footrow2 footrow">
            <a href="/eg">
                <p>
                    eSafety Guru
                </p>
            </a>
            <a href="/cu">
                <p>
                    Contact Us
                </p>
            </a>
        </div>
    </footer>
    <p class="credits">Credits- All images used in this page are taken from <u> <a href="https://pixabay.com/"
                target="_blank">Pixabay</a></u>.</p>
</body>

</html>