<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/CSS sheet.css?{% now "U" %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>eSafety Guru</title>
</head>

<body>
    <section>
        <p id="head">e-Bandhu <span class="subscript">—Your true e-Friend</span></p>
    </section>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"> <a href="/"><img src="/static/Images/icon/home.png" alt="Home logo" class="homeicon">
                    &#8203 &#8203
                    Home</li>
            </a>
            <a href="/tm">
                <li class="navitem navoptions"> <img src="/static/Images/icon/fakenews.png" alt="" class="icon"
                        id="icnti"> Trending &#8203; Misinformation</li>
            </a>
            <a href="/lu">
                <li class="navitem navoptions"> <img src="/static/Images/icon/update.png" alt="" class="icon"
                        id="icnupdate"> Latest &#8203; Updates</li>
            </a>
            <a href="/qc">
                <li class="navitem navoptions"> <img src="/static/Images/icon/assesdevice.png" alt="" class="icon">
                    Quick
                    Check </li>
            </a>
            <a href="/eg">
                <li class="navitem navoptions"> <img src="/static/Images/icon/learn.png" alt="" class="icon"
                        id="icnlearn"> eSafety Guru</li>
            </a>
            <a href="/cu">
                <li class="navitem navoptions" id="navright"> <img src="/static/Images/icon/contactus.jpg" alt=""
                        class="icon" id="icncontactus"> Contact Us</li>
            </a>
        </ul>
    </nav>
    <section class="body1">
        <p class="heading">
            eSafety Guru
        </p>
        <hr id="eghrhead" class="hrhead">
        <div class="content">
            <div class="learncontent">
                <h3 class="llib" id="topllib">What is Cyber
                    Attack?</h3>
                <div class="learnincont">
                    <p class="content"> Cybercrime, or computer-oriented crime, is a crime that
                        involves a
                        computer
                        and a
                        network. The computer may have been used in the commission of a crime, or it may be
                        the
                        target. Cybercrime may threaten a person or a nation's security and financial
                        health.</p>
                </div>
                <h3 class="llib">What is Cyber
                    Security?</h3>
                <div class="learnincont">
                    <p class="content"> Computer security, cyber security or information
                        technology
                        security
                        (IT
                        security)
                        is the protection of computer systems and networks from the theft of or damage to
                        their
                        hardware, software, or electronic data, as well as from the disruption or
                        misdirection
                        of the
                        services they provide.</p>
                </div>
                <h3 class="llib">Why is Cyber security
                    important?</h3>
                <div class="learnincont">
                    <p class="content"> Computer security, cyber security or information
                        technology
                        security
                        (IT
                        security)
                        is the protection of computer systems and networks from the theft of or damage to
                        their
                        hardware, software, or electronic data, as well as from the disruption or
                        misdirection
                        of the
                        services they provide.</p>
                </div>
                <h3 class="llib">How can we become responsible netizen?</h3>
                <div class="learnincont">
                    <p class="content">
                    <ul class="squareul">
                        <li class="lli">Be mindful in what you are sharing on the internet.</li>
                        <li class="lli">Do not spread misinformation. </li>
                        <li class="lli">Credit the creator if you are sharing someone elses content. </li>
                        <li class="lli">Don’t get engaged in cyber bullying and other cyber crimes. </li>
                        <li class="lli">Respect the copyright policies and do not use pirated resources. </li>
                    </ul>
                    </p>
                </div>
                <h3 class="llib">What are some common Cyber
                    Crimes?</h3>
                <span class="llib llibnote">[Click on the below text to know more about them.]</span>
                <div class="learnincont">
                    <p class="content">
                    <ul class="squareul">
                        <a target="_blank" class="learnula" href="https://en.wikipedia.org/wiki/Computer_virus">
                            <li class="lli">Computer Viruses</li>
                        </a>
                        <a target="_blank" class="learnula" href="https://en.wikipedia.org/wiki/Internet_fraud">
                            <li class="lli">Fraud</li>
                        </a>
                        <a target="_blank" class="learnula"
                            href="https://simple.wikipedia.org/wiki/Software_piracy#:~:text=Software%20piracy%28officially%20called%20copyright%20infringementof%20software%29%20refers%20to,the%20copyrightget%20less%20money%20because%20of%20copyright%20infringement.">
                            <li class="lli">Software Piracy</li>
                        </a>
                        <a target="_blank" class="learnula" href="https://en.wikipedia.org/wiki/Cyberstalking">
                            <li class="lli">Cyberstalking</li>
                        </a>
                        <a target="_blank" class="learnula"
                            href="https://en.wikipedia.org/wiki/Cyberbullying#:~:text=For%20the%20Wikipedia%20guidance%20essay%2C%20see%20Wikipedia%3ACyberbullying.%20Cyberbullying,and%20cyberharassment%20are%20also%20known%20as%20online%20bullying.">
                            <li class="lli">Cyberbullying</li>
                        </a>
                        <a target="_blank" class="learnula" href="https://en.wikipedia.org/wiki/Ransomware">
                            <li class="lli">Ransomware</li>
                        </a>
                    </ul>
                    </p>
                </div>
                <h3 class="llib">What should I do to be
                    cyber safe?</h3>
                <div class="learnincont">
                    <p class="content">
                    <ul type="disc" class="squareul">
                        <li>
                            <p class="lli">Set strong password</p>
                            <p class="content nolinespace">A strong password is one which contains at
                                least 6
                                characters
                                that are a combination of uppercase, lowercase letters, numbers and
                                symbols.</p>
                        </li>
                        <li>
                            <p class="lli">Remember to log-off</p>
                            <p class="content nolinespace">It is not recommended that you log-in to your
                                account
                                from
                                any unknown device but in case you do, remember to log-off in order to
                                prevent
                                loss of
                                data.</p>
                        </li>
                        <li>
                            <p class="lli">Update your device software</p>
                            <p class="content nolinespace">It is advisable to keep your device's
                                software
                                up-to-date in
                                order to prevent cyber attacks.</p>
                        </li>
                        <li>
                            <p class="lli">Prevent phishing attacks</p>
                            <p class="content nolinespace">Whenever you receive any mail that seems to
                                be
                                suspicious or
                                too good to be true, do not click any link attached in that mail. You
                                should
                                report such
                                mails as spam.</p>
                        </li>
                        <li>
                            <p class="lli">Prevent loss of data and credentials </p>
                            <p class="content nolinespace">Whenever you use any public device or someone
                                else's
                                device
                                use incognito mode so that the browser won't store any credential or
                                browsing
                                information.</p>
                        </li>
                        <li>
                            <p class="lli">Check the URL before entering any sensitive information</p>
                            <p class="content nolinespace">Whenever a page loads which asks for
                                sensitive
                                information
                                like bank account information, email id, password etc. check the URL as
                                the
                                cyber criminals often create fake URLs which are similar to the original
                                ones.
                                Also make
                                sure that URL contains ‘https://.’ </p>
                        </li>
                        <li>
                            <p class="lli">Get anti-virus any your device.</p>
                            <p class="content nolinespace">Use anti-virus on your device to protect your
                                data
                                from theft
                                and also protect your device from general malware and theft of your
                                identity.
                            </p>
                        </li>
                        <li>
                            <p class="lli">Read carefully before you provide permission to any software
                            </p>
                            <p class="content nolinespace">You must have seen the pop-ups which comes
                                when you
                                install
                                an app seeking permissions like that of accessing contacts, storage etc.
                                It is
                                important to read all these information and allowing them only if it is
                                necessary and if the app is from a trusted source and trusted developer.</p>
                        </li>
                        <li>
                            <p class="lli">Do not download any file from an unknown source</p>
                            <p class="content nolinespace">Never download apps or pirated resources it
                                is
                                illegal and
                                can lead you into legal troubles. Secondly, it is also a medium through
                                which
                                cyber criminals spread malwares and thus the file which one may download
                                thinking
                                it as
                                an app may be a malware.</p>
                        </li>
                        <li>
                            <p class="lli">Make sure that the website you are visiting contains
                                ‘https://.’ in
                                its URL
                            </p>
                            <p class="content nolinespace">Hypertext Transfer Protocol Secure (HTTPS) is
                                an
                                extension of
                                the Hypertext Transfer Protocol (HTTP) and is used for secure
                                communication over
                                a
                                computer network. In HTTPS, the communication protocol is encrypted
                                using
                                Transport
                                Layer Security and is thus used on website which includes transfer of
                                sensitive
                                information like banking website, e-commerce website etc.</p>
                        </li>
                    </ul>
                    </p>
                </div>
                <h3 class="llib">How to report Cybercrime?</h3>
                <div class="learnincont">
                    <p class="content">
                    <ul class="llil content nolinespace2 squareul">
                        <li><a>If in case you come across any cybercrime it is always a wise step to report it. Now
                                days filing a complaint against cybercrime has become very easy as the Indian
                                government launched National Cybercrime Reporting Portal last year.</a></li>
                        <li><a> You can visit the portal by <a class="learnreporta"
                                    href="https://cybercrime.gov.in/Accept.aspx#" target="_blank"
                                    rel="noopener noreferrer">
                                    clicking here.</a></a></li>
                        <li><a>Note- It is advisable to keep a proof like screenshots, web url, post url etc. whenever
                                possible. </a></li>
                        <li><a>You can learn more about how to save such proofs by downloading 'Citizen Manual Report
                                CPRGR
                                complaints' from <a class="learnreporta"
                                    href="https://cybercrime.gov.in/Webform/Citizen_Manual.aspx" target="_blank"
                                    rel="noopener noreferrer">this website.</a> </a></li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        </li>
        <p class="note"><a class="note" href="#wkcd">*This prototype contains some text taken from Wikipedia. The
                text was available under the <a
                    href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License"
                    class="note underline" target="_blank"> Creative Commons Attribution-ShareAlike License</a>.
                Credits are attached in
                footer.</a></p>
        </div>
    </section>
    <footer class="footer">
        <div class="footrow1 footrow">
            <a href="/">
                <p>
                    Home
                </p>
            </a>
            <a href="/tm">
                <p>
                    Trending Misinformation
                </p>
            </a>
        </div>
        <div class="footrow1 footrow">
            <a href="/lu">
                <p>
                    Latest Updates
                </p>
            </a>
            <a href="/qc">
                <p>
                    Quick Check
                </p>
            </a>
        </div>
        <div class="footrow2 footrow">
            <a href="/eg">
                <p>
                    eSafety Guru
                </p>
            </a>
            <a href="/cu">
                <p>
                    Contact Us
                </p>
            </a>
        </div>
    </footer>
    <div class="creditscont credits">
        <p class="credits">Credits- All images used in this page are taken from <u> <a href="https://pixabay.com/"
                    target="_blank">Pixabay</a></u>.</p>
        <p class="credits" id="wkcd">Some of the content used on this page has been taken from Wikipedia:-</p>
    </div>
    <div class="creditscont credits creditsacont">
        <p class=" creditsa">
            <a class="creditsa" target="_blank" href="https://en.wikipedia.org/wiki/Cybercrime">
                https://en.wikipedia.org/wiki/Cybercrime
            </a>
        </p>
        <p class="creditsa">
            <a class="creditsa" target="_blank" href="https://en.wikipedia.org/wiki/Computer_security">
                https://en.wikipedia.org/wiki/Computer_security
            </a>
        </p>
    </div>
</body>

</html>