<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/CSS sheet.css?{% now "U" %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">
    <title>Latest Updates</title>
</head>

<body>
    <section>
        <p id="head">e-Bandhu <span class="subscript">—Your true e-Friend</span></p>
    </section>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"> <a href="/"><img src="/static/Images/icon/home.png" alt="Home logo" class="homeicon">
                    &#8203 &#8203
                    Home</li>
            </a>
            <a href="/tm">
                <li class="navitem navoptions"> <img src="/static/Images/icon/fakenews.png" alt="" class="icon"
                        id="icnti"> Trending &#8203; Misinformation</li>
            </a>
            <a href="/lu">
                <li class="navitem navoptions"> <img src="/static/Images/icon/update.png" alt="" class="icon"
                        id="icnupdate"> Latest &#8203; Updates</li>
            </a>
            <a href="/qc">
                <li class="navitem navoptions"> <img src="/static/Images/icon/assesdevice.png" alt="" class="icon">
                    Quick
                    Check </li>
            </a>
            <a href="/eg">
                <li class="navitem navoptions"> <img src="/static/Images/icon/learn.png" alt="" class="icon"
                        id="icnlearn"> eSafety Guru</li>
            </a>
            <a href="/cu">
                <li class="navitem navoptions" id="navright"> <img src="/static/Images/icon/contactus.jpg" alt=""
                        class="icon" id="icncontactus"> Contact Us</li>
            </a>
        </ul>
    </nav>
    <section class="body1">
        <p class="heading">
            Latest Updates
        </p>
        <hr id="luhrhead" class="hrhead">
        <div class="tip">
            <p class="headinglu">Expert's Advice-</p>
            <ul class="luul">
                <li>Install Anti-virus/ malware software in your device and keep the anti-virus/ malware software and
                    your device's software up to date to protect yourself from the increasing Malware attacks.</li>
                <li>Do not provide any sensitive information to unknown sources and always check the url of the site
                    where you are providing any sensitive information as the number of cases of phishing
                    are at an alarming stage.</li>
                <li>Misinformation is an increasing cause of concern so do not believe or share any news before verifying it.
                </li>
            </ul>
        </div>
        <div class="flex">
            <div class="rightborder">
                <p class="headinglu">Latest NEWS</p>
                <div class="cnt padding">
                    <p class="midhead">Centre coming up with National Cyber-Security Strategy 2020: NSA Doval
                    </p>
                    <p class="content">National Security Adviser Ajit Doval announced that the centre is coming up with
                        National Cyber-Security Strategy 2020 which aims at making a safe, secure, trusted, resilient
                        and vibrant cyberspace for India's prosperity.</p>
                </div>
                <div class="padding">
                    <p class="midhead">NIC Cyber Attack Criminal's location traced back to Bengaluru</p>
                    <p class="content">Approximately 100 computers of National Informatics centre (NIC) were attacked by
                        a malware in a massive cyber breach. The initial investigation has revealed that an email was
                        created in a firm in Bengaluru. It is suspected that the email created the malware.</p>
                </div>
            </div>
            <div class="datarep">
                <p class="headinglu">Latest Statistics</p>
                <br>
                <figure>
                    <img src="/static/Images/Latest Update/types.jpeg" alt="latest data" class="graph">
                    <figcaption id="figcap1">Number of cases per Cybercrime</figcaption>
                </figure>
                <figure id="fig2">
                    <img src="/static/Images/Latest Update/time.jpeg" alt="latest data" class="graph">
                    <figcaption> Number of Cybercrime reported all over India</figcaption>
                </figure>
            </div>
        </div>
        <hr class="cnt nomargin">
        <div class="cnt">
            <p class="midhead">Government sets up an expert committee under Cyber security Head to probe China watching
            </p>
            <p class="content">An expert committee has been set up by Government, led by Lt Gen (retd) Rajesh
                Pant(India’s chief coordinator on cyber security), will be evaluating the 'implications' of the digital
                surveillance by Data Information Technology Co. Limited and “assess any violations of law and submit its
                recommendations within thirty days.”</p>
        </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footrow1 footrow">
            <a href="/">
                <p>
                    Home
                </p>
            </a>
            <a href="/tm">
                <p>
                    Trending Misinformation
                </p>
            </a>
        </div>
        <div class="footrow1 footrow">
            <a href="/lu">
                <p>
                    Latest Updates
                </p>
            </a>
            <a href="/qc">
                <p>
                    Quick Check
                </p>
            </a>
        </div>
        <div class="footrow2 footrow">
            <a href="/eg">
                <p>
                    eSafety Guru
                </p>
            </a>
            <a href="/cu">
                <p>
                    Contact Us
                </p>
            </a>
        </div>
    </footer>
    <p class="credits">Credits- All images used in this page are taken from <u> <a
                href="https://pixabay.com/">Pixabay</a></u>.</p>
</body>

</html>