<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/CSS sheet.css?{% now "U" %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <section>
        <p id="head">e-Bandhu <span class="subscript">—Your true e-Friend</span></p>
    </section>
    <nav class="navbar">
        <!-- <div class="logo navitem"> <a href="Home.html"></div>
        <img src="/static/../../Images/logo.png" alt="Logo" id="logo1"> </a>
        </div> -->
        <ul class="navlist">
            <li class="navitem"> <a href="Home.html"><img src="/static/../../Images/icon/home.png" alt="Home logo"
                        class="homeicon"> &#8203 &#8203
                    Home</li>
            </a>
            <a href="tm.html">
                <li class="navitem navoptions"> <img src="/static/../../Images/icon/fakenews.png" alt="" class="icon"
                        id="icnti"> Trending &#8203; Misinformation</li>
            </a>
            <a href="lu.html">
                <li class="navitem navoptions"> <img src="/static/../../Images/icon/update.png" alt="" class="icon"
                        id="icnupdate"> Latest &#8203; Updates</li>
            </a>
            <a href="ayd.html">
                <li class="navitem navoptions"> <img src="/static/../../Images/icon/assesdevice.png" alt=""
                        class="icon"> Quick Check</li>
            </a>
            <a href="learn.html">
                <li class="navitem navoptions"> <img src="/static/../../Images/icon/learn.png" alt="" class="icon"
                        id="icnlearn"> eSafety Guru</li>
            </a>
            >
            <a href="contactus.html">
                <li class="navitem navoptions" id="navright"> <img src="/static/../../Images/icon/contactus.png" alt=""
                        class="icon" id="icncontactus"> Contact Us</li>
            </a>
        </ul>
    </nav>
    <footer class="footer">
        <div class="footrow1 footrow">
            <p>
                <a href=""> Home </a>
            </p>
            <p>
                <a href=""> Trending Misinformation </a>
            </p>
        </div>
        <div class="footrow1 footrow">
            <p>
                <a href=""> Latest Updates </a>
            </p>
            <p>
                <a href=""> Quick Check </a>
            </p>
        </div>
        <div class="footrow2 footrow">
            <p>
                <a href=""> E-Courses </a>
            </p>
            <p>
                <a href=""> Competitions </a>
            </p>
        </div>
        <div class="footrow2 footrow">
            <p>
                <a href=""> Report </a>
            </p>
            <p>
                <a href=""> Contact Us </a>
            </p>
        </div>
    </footer>
    <p class="credits">Credits- All images used in this page are taken from <u> <a href="https://pixabay.com/"
                target="_blank">Pixabay</a></u>.</p>
</body>

</html>