<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/CSS sheet.css?{% now "U" %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Trending Misinformation</title>
</head>

<body>
    <section>
        <p id="head">e-Bandhu <span class="subscript">—Your true e-Friend</span></p>
    </section>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem"> <a href="/"><img src="/static/Images/icon/home.png" alt="Home logo" class="homeicon">
                    &#8203 &#8203
                    Home</li>
            </a>
            <a href="/tm">
                <li class="navitem navoptions"> <img src="/static/Images/icon/fakenews.png" alt="" class="icon"
                        id="icnti"> Trending &#8203; Misinformation</li>
            </a>
            <a href="/lu">
                <li class="navitem navoptions"> <img src="/static/Images/icon/update.png" alt="" class="icon"
                        id="icnupdate"> Latest &#8203; Updates</li>
            </a>
            <a href="/qc">
                <li class="navitem navoptions"> <img src="/static/Images/icon/assesdevice.png" alt="" class="icon">
                    Quick
                    Check </li>
            </a>
            <a href="/eg">
                <li class="navitem navoptions"> <img src="/static/Images/icon/learn.png" alt="" class="icon"
                        id="icnlearn"> eSafety Guru</li>
            </a>
            <a href="/cu">
                <li class="navitem navoptions" id="navright"> <img src="/static/Images/icon/contactus.jpg" alt=""
                        class="icon" id="icncontactus"> Contact Us</li>
            </a>
        </ul>
    </nav>
    <section class="body1">
        <p class="heading">
            Trending Misinformation
        </p>
        <hr id="tmhrhead" class="hrhead">
        <div class="cnt">
            <p class="tmh">Fake News- Government changes the duration of quarantine from 14 days to 7 days. <span
                    class="subscript covidnews">#COVID-19</span></p>
            <p class="content">A message is being circulated on social networking sites stating that the Indian
                Government has changed the duration of quarantine from 14 days to 7 days. Government officials told that
                no such decision has been taken and asked people not to believe on such messages which are circulated on
                internet.</p>
        </div>
        <div class="cnt">
            <p class="tmh">Fake News- Government announces cancellation of JEE Mains and NEET 2020</p>
            <p class="content">A message is being circulated on social networking sites stating that the JEE and NEET
                exams have been cancelled as per the order by SC. Governments clarifies on this telling that no such
                decision has been taken and such messages must not be circulated as this may create confusion amongst
                the students.</p>
        </div>
        <div class="cnt">
            <p class="tmh">A fake message is being circulated through an international number about the free
                vounchers giveaway by telecom companies.</p>
            <p class="content">Since the last week a message is being sent to many mobile numbers telling that the many
                telecomm companies are giving free data and call vouchers. It was mentioned that in order to claim the
                vouchers one has to fill in the required information at a link provided as an attachment. It has been
                announced by the telecom companies that no such offer is there at the moment and have asked customers to
                check any of the offers via the official website or mobile app.</p>
        </div>
    </section>
    <footer class="footer">
        <div class="footrow1 footrow">
            <a href="/">
                <p>
                    Home
                </p>
            </a>
            <a href="/tm">
                <p>
                    Trending Misinformation
                </p>
            </a>
        </div>
        <div class="footrow1 footrow">
            <a href="/lu">
                <p>
                    Latest Updates
                </p>
            </a>
            <a href="/qc">
                <p>
                    Quick Check
                </p>
            </a>
        </div>
        <div class="footrow2 footrow">
            <a href="/eg">
                <p>
                    eSafety Guru
                </p>
            </a>
            <a href="/cu">
                <p>
                    Contact Us
                </p>
            </a>
        </div>
    </footer>
    <p class="credits">Credits- All images used in this page are taken from <u> <a
                href="https://pixabay.com/">Pixabay</a></u>.</p>
</body>

</html>